<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Page d'erreur</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>
<body>
   <h1>Erreurs</h1>
   <h2>
	<span th:text="'Message : ' + ${erreur}"></span>
   </h2>


</body>
</html>