<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>SOAP Java Client avec IHM Web </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" th:href="@{/css/main.css}"
              href="../../static.css/main.css" />
    </head>
    <body>
        <h1>Inscrire un étudiant avec client SOAP Java</h1>

        <div id="main">
            <form th:action="@{/inscriptions}" th:object="${etudiant}" method="post">
                <div class="formulaire">
                    <label for="identifiant">Identifiant</label>
                    <input type="text"  id="identifiant" placeholder="ID" th:field="*{identifiant}"/>
                     <label for="prenom">Prénom</label>
                    <input type="text" id="prenom" placeholder="prenom" th:field="*{prenom}" />
                    <label for="nom">Nom</label>
                    <input type="text"  id="nom" placeholder="nom" th:field="*{nom}" />
                    <br>
                    <h2>Adresse</h2>
                    <label for="codePostal">code postal</label>
                    <input type="text"  id="nom" placeholder="code postal" th:field="*{adresse.codePostal}" />
                    <label for="commune">commune</label>
                    <input type="text"  id="commune" placeholder="commune" th:field="*{adresse.commune}" />
                    <br>
                    <button type="submit" >Valider</button>
                 </div>
        </div>
    </body>
</html>
