<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>SOAP Java Client avec IHM Web </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" th:href="@{/css/main.css}"
              href="../../static.css/main.css" />
    </head>
    <body>
        <h1>Liste des &eacute;tudiants obtenue avec client SOAP Java</h1>

        <div id="main">
            <div>
                <a href="/inscriptions" th:href="@{/inscriptions}">Inscrire un &eacute;tudiant</a>
            </div>             
            <div id="contenu">
                <div id="divtableau" class="Tableau">
                    <table id="tableau">
                        <tr>
                            <th>Identifiant</th>
                            <th>Nom</th>
                            <th>Pr&eacute;nom</th>
                            <th>Commune</th>
                        </tr>
                        <tr th:each="etudiant : ${listeInscrits}">
                            <td th:text="${etudiant.identifiant}"></td>
                            <td th:text="${etudiant.prenom}"></td>
                            <td th:text="${etudiant.nom}"></td>
                            <td th:text="${etudiant.adresse.commune}"></td>
                        </tr>
                </div>
            </div>
        </div>

    </body>
</html>
